@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  font-family: 'Inter var', sans-serif;
}

.scroll {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
}

h1 {
  font-size: 3em;
  letter-spacing: -3px;
  line-height: 0.7em;
}
