@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  color: white;
}

h1 {
  font-variant-numeric: tabular-nums;
  margin: 0;
  padding: 0;
  font-family: 'Inter var', sans-serif;
  font-size: 1em;
  font-weight: 400;
  position: absolute;
  top: 3rem;
  left: 3rem;
}
