@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  font-family: inter;
  padding: 10px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'main top'
    'main middle'
    'main bottom';
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 200px;
    grid-template-areas:
      'main main main'
      'top middle bottom';
  }
}

.container > .panel {
  position: relative;
  padding: 20px;
}

.canvas {
  pointer-events: none;
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
